Pillow==2.4.0
argparse==1.1
-e git+https://github.com/soravux/gdata.git@f5a23bdbf3d7929f88b45a983c264218a8746636#egg=gdata-master
greenlet==0.4.2
progressbar2==2.6.2
pyzmq==14.3.1
requests==2.3.0
-e hg+https://code.google.com/p/scoop/@d23090b2f54e15a6c5bcaf55bc19a662258227ea#egg=scoop-dev
